[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
jinja2 = "*"
django-crispy-forms = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2-binary = "*"

[dev-packages]
selenium = "*"
pytest = "*"

[requires]
python_version = "3.8"
