{% extends 'common.html' %}

{% block active_navlink %}
<a class="nav-link active" aria-current="page" href="{% url 'main_page' %}">메인 화면</a>
<a class="nav-link" href="{% url 'create_student_form' %}">학생 등록</a>
<a class="nav-link" href="{% url 'lookup_page' %}">조회</a>
{% endblock %}

{% block main_body %}
<main class="px-3">
  <h1>성경대학 홈페이지</h1>
  <p class="lead"><i>성경대학에 오신 것을 환영합니다.</i></p>
  <br>
  <p class="lead">학생등록을 하려면 상단 네비게이션 바에서 <br>'학생 등록' 페이지에 들어가시면 됩니다.</p>
  <br>
  <p class="lead">등록 후 어느 조에 편성이 되었는지 확인하시려면 <br>상단 네비게이션 바에서 '조회' 페이지를 확인하시면 됩니다.</p>
</main>
{% endblock %}
