{% extends 'common.html' %}

{% block active_navlink %}
<a class="nav-link active" aria-current="page" href="{% url 'main_page' %}">메인 화면</a>
<a class="nav-link" href="{% url 'registration_page' %}">학생 등록</a>
<a class="nav-link" href="{% url 'lookup_page' %}">학생 조회</a>
{% endblock %}

{% block main_body %}
<main class="px-3">
  <h1>Cover your page.</h1>
  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
  </p>
</main>
{% endblock %}
