{% extends 'common.html' %}

{% block active_navlink %}
<a class="nav-link" href="{% url 'main_page' %}">메인 화면</a>
<a class="nav-link" href="{% url 'create_student_form' %}">학생 등록</a>
<a class="nav-link active" aria-current="page" href="{% url 'lookup_page' %}">조회</a>
{% endblock %}

{% block main_body %}
<main class="px-3">
  {% if context %}
  <p> {{ context.results }} </p>

  {% else %}
  <h1>학생에 대한 정보를 조회합니다.</h1>
  <br>
  <form action="{% url 'lookup_page' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-5">
        <select class="form-select" aria-label="Default select example">
          <option selected>교회를 선택해주세요</option>
          {% for church in churches %}
          <option value={{ church.id }}>{{ church.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-7">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="검색할 학생 이름" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <span>
            <button class="btn btn-outline-secondary"
              type="submit">검색</button>
          </span>
        </div>
      </div>
    </div>
  </form>

  {% endif %}
</main>
{% endblock %}
