{% extends 'common.html' %}

{% block active_navlink %}
<a class="nav-link" href="{% url 'main_page' %}">메인 화면</a>
<a class="nav-link" href="{% url 'create_student_form' %}">학생 등록</a>
<a class="nav-link active" aria-current="page" href="{% url 'lookup_page' %}">조회</a>
{% endblock %}

{% block main_body %}
<main class="px-3">
  {% if context.results %}
  <table class="table table-dark">
  <thead class="thead-dark">
    <tr>
      <th scope="col">이름</th>
      <th scope="col">직책</th>
      <th scope="col">핸드폰 뒷자리</th>
      <th scope="col">기수</th>
      <th scope="col">교회</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for student in context.results %}
    <tr>
      <th scope="row">{{ student.1 }}</th>
      <td>{{ student.2 }}</td>
      <td>{{ student.3 }}</td>
      <td>{{ student.4 }}</td>
      <td>{{ student.5 }}</td>
      <td>
          <a class="btn btn-outline-light" href="{% url 'student_lookup'
            {{student.0}} %}">조회</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

  {% else %}
  <h1>학생에 대한 정보를 조회합니다.</h1>
  <br>
  <form action="{% url 'lookup_page' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-5">
        <select class="form-select" name="church_id" aria-label="church_select">
          <option disabled selected hidden>교회를 선택해주세요</option>
          {% for church in context.churches %}
          <option value="{{ church.id }}">{{ church.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-7">
        <div class="input-group">
          <input type="text" name="student_name" class="form-control" placeholder="검색할 학생 이름" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <span>
            <input class="btn btn-outline-secondary" type="submit" value="검색">
          </span>
        </div>
      </div>
    </div>
  </form>

  {% endif %}
</main>
{% endblock %}
