{% extends 'common.html' %}
{% load crispy_forms_tags %}

{% block active_navlink %}
<a class="nav-link" href="{% url 'main_page' %}">메인 화면</a>
<a class="nav-link" aria-current="page" href="{% url 'create_student_form' %}">학생 등록</a>
<a class="nav-link" href="{% url 'lookup_page' %}">조회</a>
{% endblock %}

{% block main_body %}
<div class="jumbotron">
  <h1 class="display-4">허허허 님</h1>
  <p><i>춘천온누리교회, 권사</i></p>
  <p class="lead">2021성경대학학교 1학년 그룹 편성 및 리더 여부</p>

  <br>
  <br>
  <br>

  <table class="table table-dark">
  <thead class="thead-dark">
    <tr>
      <th scope="col">조 번호</th>
      <th scope="col">리더 여부</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>조원</td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}

